[submodule "lib/aetycoon"]
	path = lib/aetycoon
	url = git://github.com/Arachnid/aetycoon.git
[submodule "themes/coolblue"]
	path = themes/coolblue
	url = git://github.com/rctay/bloggart-theme-coolblue.git
[submodule "themes/mojombo"]
	path = themes/mojombo
	url = https://github.com/rctay/bloggart-theme-mojombo
